/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.preview-image {
  width: 200px;
  height: 200px;
  object-fit: cover; /* 画像を切り取って表示 */
  border-radius: 8px; /* 角を丸くする（オプション） */
}

.other-images {
  display: flex;
}

.other-image {
  margin-right: 10px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}